/* kolorki #51E2F5 #9DF9EF #EDF7F6 #FFA8B6 #A28089 */
*{
    font-family: 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;
    background-color: #EDF7F6;
}
header{
    background-color: #FFA8B6;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
h1{
    text-align: center;
    flex-grow: 1;
}
header input[type="button"]{
    margin-right: 10px;
}
.staty div{
    margin: 5px;
}
table,td,th{
    border: 0px solid #111;
    border-collapse: collapse;
}
table{
    width: fit-content;
}

tr,td,th{
    padding: 5px;
}
table tr:nth-child(2n+1){
    background-color: #51E2F5;
}
table tr:nth-child(2n){
    background-color: #9DF9EF;
}
table tr:nth-child(2n+1):hover{
    background-color: #4ed2e3;
}
table tr:nth-child(2n):hover{
    background-color: #97ece2;
}

table label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
table input[type="radio"]{
    width: 0px;
    height: 0px;
    opacity: 0;
}
table .checkmark{
    cursor: pointer;
    width: 20px;
    height: 20px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
table input[type="radio"][class="tak"] ~ .checkmark{
    background-image: url("../graphic/plus_square_notfilled.svg");
}
table input[type="radio"][class="tak"]:checked ~ .checkmark{
    background-image: url("../graphic/plus_square_filled.svg");
}
table input[type="radio"][class="nie"] ~ .checkmark{
    background-image: url("../graphic/minus_square_notfilled.svg");
}
table input[type="radio"][class="nie"]:checked ~ .checkmark{
    background-image: url("../graphic/minus_square_filled.svg");
}

table input[type="button"]{
    height: 20px;
    width: 30px;
    border-width: 0;
    background: rgb(172,143,151);
    background: linear-gradient(141deg, rgba(172,143,151,1) 0%, rgba(162,128,137,1) 55%, rgba(173,158,162,1) 100%);
    color: #fff;
}
table input[type="button"]:hover{
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}